<div class="container-fluid">
    <app-page-title title="New Orders" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="" class="form-label">Customer Name <span
                                        class="text-danger">*</span></label>
                                <input type="text" name="" id="" class="form-control"
                                    placeholder="Please enter customer name..." required disabled
                                    [value]="order.user?.userName">
                                <input type="hidden" [(ngModel)]="order.userID">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="" class="form-label">Status <span class="text-danger">*</span></label>
                                <select name="" class="form-select" id="" [(ngModel)]="order.order_status" required>
                                    <option value="Pending" selected>Pending</option>
                                    <option value="Confirmed">Confirmed</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="" class="form-label">Order Type <span class="text-danger">*</span></label>
                                <select name="" class="form-select" id="" [(ngModel)]="order.order_type" required>
                                    <option value="">Please select order type...</option>
                                    <option *ngFor="let type of orderService.orderTypeList" [value]="type.value">
                                        {{type.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6" *ngIf="order.order_type=='dine'">
                            <div class="mb-3">
                                <label for="" class="form-label">Reservation Status <span
                                        class="text-danger">*</span></label>
                                <select name="" class="form-select" id="" [(ngModel)]="reservation.reserve_status"
                                    required>
                                    <option value="">Please select reservation status...</option>
                                    <option *ngFor="let status of reservationService.reservationStatusList"
                                        [value]="status.name">
                                        {{status.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="order.order_type=='dine'">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="" class="form-label">Number of People <span
                                                class="text-danger">*</span></label>
                                        <input type="number" name="" id="" class="form-control"
                                            [(ngModel)]="reservation.pax_no"
                                            placeholder="Please enter number of people..." required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="" class="form-label">Reservation Date <span
                                                class="text-danger">*</span></label>
                                        <input type="datetime-local" name="" id="" class="form-control"
                                            [(ngModel)]="reservation.reservation_dt" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="" class="form-label">Remarks</label>
                                        <textarea name="" id="" class="form-control"
                                            [(ngModel)]="reservation.reserve_remark"
                                            placeholder="Please enter remarks (if any)"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="order.order_type=='delivery'">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="">Delivery Man <span class="text-danger">*</span></label>
                                        <select class="form-select" [(ngModel)]="delivery.deliverymanID">
                                            <option *ngFor="let man of deliveryManList" [value]="man.deliverymanID">
                                                Phone - {{ man.deliveryman_phone_no }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Delivery Start Date Time <span
                                                class="text-danger">*</span></label>
                                        <input type="datetime-local" class="form-control"
                                            [(ngModel)]="delivery.delivery_start_dt">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="">Delivery Status <span class="text-danger">*</span></label>
                                        <select class=" form-select" [(ngModel)]="delivery.delivery_status">
                                            <option *ngFor="let status of deliveryService.deliveryStatusList"
                                                [value]="status.name">
                                                {{status.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Delivery Completed Date Time <span
                                                class="text-danger">*</span></label>
                                        <input type="datetime-local" class="form-control"
                                            [(ngModel)]="delivery.delivery_completed_dt">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="">Delivery Remarks <span class="text-danger">*</span></label>
                                        <textarea class="form-control"
                                            [(ngModel)]="delivery.delivery_remark"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex w-100 gap-3">
                                <button class="btn btn-primary btn-sm" (click)="submitOrder()">Submit</button>
                                <a class="btn btn-debug btn-sm" href="/admin/orders/listing">Cancel</a>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-12 gap-3 d-flex align-items-center justify-content-between">
                            <p>Total Amount: <span class="font-weight-semibold">$ {{totalAmount}}</span></p>
                            <h4 *ngIf="order?.payment" class="btn btn-success">Paid</h4>
                            <button class="btn btn-primary" *ngIf="order?.payment == null" (click)="openModal(content)">Payment</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" *ngIf="order.order_type=='dine'">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="" class="form-label">Table</label>
                                <select name="" class="form-select" id="" [(ngModel)]="reservation.tableID">
                                    <option value="" selected>Please select table...</option>
                                    <option *ngFor="let table of tableList" [value]="table.tableID">Table
                                        {{table.tableID}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="label">Order Items</h4>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap">
                                    <thead class="table-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Menu</th>
                                            <th>Quality</th>
                                            <th>Price</th>
                                            <th>Remarks</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr *ngIf="orderItems.length == 0"></tr> -->
                                        <tr *ngFor="let items of orderItemsList; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{items.item_name}}</td>
                                            <td>
                                                <input type="number" [(ngModel)]="items.order_quantity"
                                                    class="form-control" min="0" (change)="setTotalAmount(i)">
                                            </td>
                                            <td>
                                                <input type="text" [(ngModel)]="items.item_price" class="form-control"
                                                    min="0" (change)="setTotalAmount(i)">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control"
                                                    [(ngModel)]="items.order_remark">
                                                <span class="text-danger">*</span>
                                            </td>
                                            <td>$ {{items.total}}</td>
                                            <td>
                                                <button class="btn btn-sm" (click)="removeOrderItem(i, items)">
                                                    <i class="text-danger mdi mdi-delete font-size-18"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between gap-3">
                                    <input type="text" class="form-control" placeholder="Search for items..."
                                        list="menu" [(ngModel)]="searchItem" (change)="checkValue()">
                                    <datalist id="menu">
                                        <option *ngFor="let menu of menuList" [value]="menu.item_name"
                                            [attr.data-menu]="menu"></option>
                                    </datalist>
                                    <button class="btn btn-primary btn-sm" (click)="addOrderItem()"
                                        [disabled]="searchDisabled">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #content role="document" let-modal>
        <div class="modal-header">
            <h5 class="modal-title mt-0"><b>Make Payment</b>
            </h5>
            <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="">Card Number</label>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="mb-3">
                        <label for="">Card Holder Name</label>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="mb-3 row">
                        <div class="col-6">
                            <label for="">Expiry Date</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="col-6">
                            <label for="">CVV</label>
                        <input type="password" class="form-control" >
                        </div>
                    </div>
                    <div class="mb-3">
                        <table class="table">
                            <tr>
                                <td><input type="radio" name="payment" id="" checked></td>
                                <td><label for="">Pay with Cash</label></td>
                            </tr>
                            <tr>
                                <td>Sub Total</td>
                                <td>${{totalAmount}}</td>
                            </tr>
                            <tr>
                                <td>Discount</td>
                                <td><input type="text" class="form-control" [(ngModel)]="payment.discount_coupun"></td>
                            </tr>
                            <tr>
                                <td>GST (8%)</td>
                                <td>${{ payment.gst || totalAmount * 0.08 | number: '1.0-9' }}</td>
                            </tr>
                            <tr>
                                <td>Service Tax</td>
                                <td>${{ payment.service_tax || totalAmount * 0.10 | number: '1.0-9' }}</td>
                            </tr>
                            <tr>
                                <td>Total Price</td>
                                <td>${{payment.total_price || totalAmount * 1.18 | number: '1.0-9' }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="mb-3 d-flex justify-content-end">
                        <button class="btn btn-primary" (click)="doPayment()">Pay</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>