<div class="container-fluid">
    <app-page-title title="Users" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-end">
                                <a href="/admin/users/add" type="button"
                                    class="btn btn-success btn-rounded mb-2 me-2"><i class="mdi mdi-plus mr-1"></i>
                                    Add New User</a>
                            </div>
                        </div><!-- end col-->
                    </div>
                    <div class="table-responsive mb-0">
                        <table class="table table-centered table-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th class="align-middle">S/N</th>
                                    <th class="align-middle">User Name</th>
                                    <th class="align-middle">DOB</th>
                                    <th class="align-middle">Email</th>
                                    <th class="align-middle">Phone No</th>
                                    <th class="align-middle">Address</th>
                                    <th class="align-middle">User Type</th>
                                    <th class="align-middle">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of users; let i = index">
                                  <td>{{i+1}}</td>
                                  <td>{{data.userName}}</td>
                                  <td>{{data.dob}}</td>
                                  <td>{{data.email}}</td>
                                  <td>{{data.phone_no}}</td>
                                  <td *ngIf="data.address === null" [style.color]="'blue'" [style.font-weight]="'bold'">null</td>
                                  <td *ngIf="data.address !== null">{{ data.address }}</td>
                                  <td>
                                        <span class="badge badge-pill badge-soft-success font-size-11" [ngClass]=" { 'badge-soft-danger': data.user_type === 'Member',
                                             'badge-soft-warning':data.user_type === 'Admin', 'badge-soft-pink':data.user_type === 'Delivery Man' }">{{data.user_type}}</span>
                                  </td>
                                  <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-sm btn-rounded"
                                            (click)="openModal(content, data)">Delete</button>
                                  </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- pop up modal -->
                        <ng-template #content role="document" let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title mt-0">User Delete Confirmation</h5>
                                <button type="button" class="btn-close" aria-hidden="true"
                                    (click)="modal.dismiss('Cross click')"></button>
                            </div>
                            <div class="modal-body">
                                <p class="mb-2">
                                    Are you sure you want delete <span class="text-primary">{{userName}}</span>?
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" (click)="deleteUser(); modal.close('Close click')">Delete</button>
                                <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
                            </div>
                        </ng-template>
                    </div>
                    <!-- end table -->
                </div>
            </div>
        </div>
    </div>
</div>
