<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-dark p-4">
                  <h5 class="text-dark">User Profile</h5>
                  <p>Make sure your information is the latest.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo-light.svg" alt="" class="rounded-circle" height="72">
                  </span>
                </div>
              </a>
            </div>
            <form [formGroup]="userprofileForm" (ngSubmit)="onSubmit()">
            <div class="p-2">
                <ngb-alert type="success" *ngIf="successmsg" [dismissible]="false">Updated successfully.
                </ngb-alert>

                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
<!--              <button (click)="showMessageWithTimeout('This message will disappear after 5 seconds.')">Show Message</button>-->
<!--                <div class="mb-3">-->
<!--                  <i class="fa fa-camera upload-button"></i>-->
<!--                  <input id="image" accept= "image/jpeg, image/jpng, image/jpg" type="file" name="profile_photo" placeholder="Photo" capture>-->
<!--                </div>-->

<!--              <div class="profile-picture">-->
<!--                <img *ngIf="url" width=300 height=300 src="{{url}}" />-->
<!--                <label *ngIf="editmode" for="uploader-input" ng2FileDrop [ngClass]="{'drag-over': hasDragOver}" (fileOver)="fileOver($event)" [uploader]="uploader">-->
<!--                  <div class="infotext"><span *ngIf="!url" >Drop your picture<br>or click to upload</span></div>-->
<!--                </label>-->
<!--                <input *ngIf="editmode" type="file" style="display:none" />-->
<!--              </div>-->

                <div class="mb-3">
<!--                  <label for="username" class="form-label">Username</label>-->

                  <input type="text"  class="form-control" [formControl]="userprofileForm.get('userName')"
                         id="userName" [readOnly]="update == false" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && userprofileForm.get('userName').errors }"
                  />
                  <div *ngIf="submitted && userprofileForm.get('userName').errors" class="invalid-feedback">
                    <div *ngIf="userprofileForm.get('userName').errors.required||userprofileForm.get('userName').errors.maxlength||userprofileForm.get('userName').errors.minlength">Username is required</div>
                  </div>
                </div>

                <div class="mb-3">
<!--                  <label for="email" class="form-label">Email</label>-->

                  <input type="email" class="form-control" id="email" placeholder="Email Address" [formControl]="userprofileForm.get('email')"
                         [ngClass]="{ 'is-invalid': submitted && userprofileForm.get('email').errors }" readonly />

                  <div *ngIf="submitted && userprofileForm.get('email').errors" class="invalid-feedback">
                    <div *ngIf="userprofileForm.get('email').errors.required">Email is required</div>
                    <div *ngIf="userprofileForm.get('email').errors.email">Email must be a valid email address</div>
                  </div>
                </div>

                <div class="mb-3">
                  <!--                  <label for="username" class="form-label">Username</label>-->

                  <input type="text" formControlName="phone_no" class="form-control" [formControl]="userprofileForm.get('phone_no')"
                         [ngClass]="{ 'is-invalid': submitted && userprofileForm.get('phone_no').errors }" id="phone_no" placeholder="Phone Number" maxlength="8" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />

                  <div *ngIf="submitted && userprofileForm.get('phone_no').errors" class="invalid-feedback">
                    <div *ngIf="userprofileForm.get('phone_no').errors.required">Phone Number is required</div>
                    <div *ngIf="userprofileForm.get('phone_no').errors.pattern||userprofileForm.get('phone_no').errors.minlength||userprofileForm.get('phone_no').errors.maxlength">Phone number should be 8 numbers</div>
                  </div>

                </div>
                <div class="mb-3">
<!--                  <label for="dob" class="form-label">Date of Birth</label>-->

                  <input type="text" formControlName="dob" class="form-control" onfocus="(this.type='date')" [formControl]="userprofileForm.get('dob')"
                         [ngClass]="{ 'is-invalid': submitted && userprofileForm.get('dob').errors }" id="dob" name ="dobdate"
                         placeholder="Date of Birth" [min]="minDate" [max]="maxDate" />

                  <div *ngIf="submitted && userprofileForm.get('dob').errors" class="invalid-feedback">
                    <div *ngIf="userprofileForm.get('dob').errors.required">Date of Birth is required</div>
                  </div>
                </div>

                <div class="mb-3">
                  <!--                  <label for="address" class="form-label">Home Address</label>-->

                  <input type="text" formControlName="address" class="form-control"  id="address" [formControl]="userprofileForm.get('address')"
                         [ngClass]="{ 'is-invalid': submitted && userprofileForm.get('address').errors }"
                         placeholder="Home Address" [readOnly]="update == false" required/>

                  <div *ngIf="submitted && userprofileForm.get('address').errors" class="invalid-feedback">
                    <div *ngIf="userprofileForm.get('address').errors.required||userprofileForm.get('address').errors.maxlength||userprofileForm.get('address').errors.minlength">Address should be longer</div>
                  </div>
                </div>

                <div class="mt-4 d-grid">
<!--                  <button class="btn btn-primary" type="submit" [disabled]="userprofileForm.invalid || !strongPassword || working">Register</button>-->
                  <button class="btn btn-primary" *ngIf="update == false" id="edit" (click)="edit()">Edit</button>
                  <button class="btn btn-primary" type="submit" *ngIf="update == true" id="update">Update</button>
                </div>
            </div>
            </form>
          </div>
        </div>
        <!-- end card -->
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
