<div class="container-fluid">
    <app-page-title title="Orders" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-end">
                                <a href="/admin/orders/add" type="button"
                                    class="btn btn-success btn-rounded mb-2 me-2"><i class="mdi mdi-plus mr-1"></i>
                                    Add New Order</a>
                            </div>
                        </div><!-- end col-->
                    </div>
                    <div class="table-responsive mb-0">
                        <table class="table table-centered table-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th class="align-middle">#</th>
                                    <th class="align-middle">Customer Name</th>
                                    <th class="align-middle">Items</th>
                                    <th class="align-middle">Type</th>
                                    <th class="align-middle">Status</th>
                                    <th class="align-middle">View Details</th>
                                    <th class="align-middle">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of ordersList; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <span>{{order.user.userName}}</span>
                                        <!-- <span class="d-block">Pax: {{reservation.pax_no}}</span> -->
                                    </td>
                                    <td>
                                        <span *ngFor="let item of order.orderItemList" class="d-block">
                                            {{item.item_name}}
                                        </span>
                                    </td>
                                    <td>{{ order.order_type }}</td>
                                    <td>
                                        {{ order.order_created_dt | date:'dd/MM/yyyy hh:mm a' }} <br>
                                        <span class="badge badge-soft-info">{{ order.order_status }}</span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm btn-rounded"
                                            (click)="openModal(content, order)">
                                            View Details
                                        </button>
                                    </td>
                                    <td>
                                        <div class="d-flex gap-3">
                                            <a [href]="'/admin/orders/edit/'+order.orderID" class="text-success">
                                                <i class="mdi mdi-pencil font-size-18"></i>
                                            </a>
                                            <a class="text-danger">
                                                <i class="mdi mdi-delete font-size-18"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="ordersList.length == 0">
                                    <td colspan="7" class="text-center">No reservation found.</td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- pop up modal -->
                        <ng-template #content role="document" let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title mt-0">Order Details - <b>{{reservationModal.order_status}}</b>
                                </h5>
                                <button type="button" class="btn-close" aria-hidden="true"
                                    (click)="modal.dismiss('Cross click')"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row" *ngIf="reservationModal.order_type=='Reservation'">
                                    <div class="col-8">
                                        <div class="d-flex gap-5">
                                            <p class="mb-4">
                                                Customer Name:
                                                <span class="text-primary">{{ reservationModal.user.userName }}</span>
                                            </p>
                                        </div>
                                        <p class="mb-4">
                                            Reservation Date:
                                            <span class="text-primary">{{ reservationModal.reservation.reservation_dt |
                                                date:'dd/MM/yyyy hh:mm a' }}
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-4">
                                        <p class="mb-4">
                                            Table:
                                            <span class="text-primary">{{reservationModal.tableID ?? '-'}}</span>
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <label>Remarks:</label>
                                        <p class="border py-2">{{reservationModal.reserve_remark ?? '-'}}</p>
                                    </div>
                                </div>
                                <div class="row" *ngIf="reservationModal.order_type=='Delivery'">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <p>
                                                    Delivery Address:
                                                    <span
                                                        class="text-primary">{{reservationModal.deliverer_address}}</span>
                                                </p>
                                            </div>
                                            <div class="col-6">
                                                <p>
                                                    Delivery Status:
                                                    <span
                                                        class="text-primary">{{reservationModal.delivery.delivery_status}}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p>
                                                    Delivery Date:
                                                    <span
                                                        class="text-primary">{{reservationModal.delivery.delivery_start_dt
                                                        | date:'dd/MM/yyyy hh:mm a'}}</span>
                                                </p>
                                            </div>
                                            <div class="col-6">
                                                <p>
                                                    Delivery End Date:
                                                    <span
                                                        class="text-primary">{{reservationModal.delivery.delivery_completed_dt
                                                        | date:'dd/MM/yyyy hh:mm a'}}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <p>Delivery Remarks:
                                                    <span
                                                        class="text-primary">{{reservationModal.delivery.delivery_remark}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive overflow-auto" style="height: 30vh;">
                                    <table class="table table-centered table-nowrap">
                                        <thead>
                                            <tr>
                                                <th scope="col">Item</th>
                                                <th scope="col">Item Name</th>
                                                <th scope="col">Remarks</th>
                                                <th scope="col">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of reservationModal.orderItemList">
                                                <td>
                                                    <div>
                                                        <img src="assets/images/product/img-7.png" alt
                                                            class="avatar-sm" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <h5 class="text-truncate font-size-14">
                                                            {{ item.item_name }}
                                                        </h5>
                                                        <p class="text-muted mb-0">
                                                            $ {{item.item_price}} x {{ item.order_quantity }}
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>{{item.order_remark ?? '-'}}</td>
                                                <td>$ {{item.item_price * item.order_quantity}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <h6 class="m-0 text-end">Total:</h6>
                                                </td>
                                                <td>$ {{ reservationModal.total_amount }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
                            </div>
                        </ng-template>
                    </div>
                    <!-- end table -->
                </div>
            </div>
        </div>
    </div>
</div>