<!-- ======= User Profile ======= -->
<section id="book-a-table" class="book-a-table section-bg px-5">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>User</h2>
      <p>Change Password</p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img src="assets/images/password.jpg" alt="">
      </div>
      <div class="d-flex align-items-top justify-content-center col-lg-8">
            <form class="needs-validation" name="changepasswordForm" [formGroup]="changepasswordForm" (ngSubmit)="onSubmit()"
                   action="forms/book-a-table.php" role="form" class="php-email-form w-75" data-aos="fade-up" data-aos-delay="100"
                  novalidate>
              <div class=" form-group">
              <div class="p-2">
                <ngb-alert type="success" *ngIf="successmsg" [dismissible]="false">Password updated successful.
                </ngb-alert>

                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                <div class="mb-3">
                  <!--                  <label for="password" class="form-label">Password</label>-->
                  <div class="input-group auth-pass-inputgroup">
                    <input [type]="show1 ? 'text' : 'password'"  formControlName="current_password" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.current_password.errors }" id="current_password" placeholder="Current Password" [(ngModel)]="current_password"/>

                    <button (click)="onClick(1)" id="eyebtn1" class="btn btn-light ms-0" type="button"  >
                      <i class="mdi mdi-eye-off-outline" aria-hidden="true" *ngIf="!show1"></i>
                      <i class="mdi mdi-eye-outline" aria-hidden="true" *ngIf="show1"></i>
                    </button>

                    <div *ngIf="submitted && f.current_password.errors" class="invalid-feedback">
                      <div *ngIf="f.current_password.errors.required">Current Password is required</div>
                      <div *ngIf="f.current_password.errors.minlength">Current Password must be at least 8 characters long</div>
                      <div *ngIf="f.current_password.errors.pattern">Current Password must contain at least one number, one uppercase and a
                        lowercase letter. <br>Current Password cannot contain whitespace.
                      </div>
                    </div>
                  </div>
                  <!--&lt;!&ndash;                  <app-password-strength [passwordToCheck]="changepasswordForm.f.password" (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength>&ndash;&gt;-->
                </div>

                <div class="mb-3">
                  <!--                  <label for="new_password" class="form-label">Confirm Password</label>https://stackblitz.com/edit/angular-ivy-password-strength-meter?file=src%2Fapp%2Fapp.component.ts,src%2Fapp%2Fapp.component.html-->
                  <div class="input-group auth-pass-inputgroup">
                    <input [type]="show2 ? 'text' : 'password'" formControlName="new_password" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }" id="new_password" placeholder="New Password" [(ngModel)]="new_password"/>

                    <button (click)="onClick(2)" id="eyebtn2" class="btn btn-light ms-0" type="button"  >
                      <i class="mdi mdi-eye-off-outline" aria-hidden="true" *ngIf="!show2"></i>
                      <i class="mdi mdi-eye-outline" aria-hidden="true" *ngIf="show2"></i>
                    </button>

                    <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                      <div *ngIf="f.new_password.errors.required">New Password is required</div>
                      <div *ngIf="f.new_password.errors.minlength">New Password must be at least 8 characters long</div>
                      <div *ngIf="f.new_password.errors.pattern">New Password must contain at least one number, one uppercase and a
                        lowercase letter. <br>New Password cannot contain whitespace.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <!--                  <label for="confirm_new_password" class="form-label">Confirm Password</label>https://stackblitz.com/edit/angular-ivy-password-strength-meter?file=src%2Fapp%2Fapp.component.ts,src%2Fapp%2Fapp.component.html-->
                  <div class="input-group auth-pass-inputgroup">
                    <input [type]="show3 ? 'text' : 'password'" formControlName="confirm_new_password" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.confirm_new_password.errors }" id="confirm_new_password" placeholder="Confirm New Password" [(ngModel)]="confirm_new_password"/>

                    <button (click)="onClick(3)" id="eyebtn3" class="btn btn-light ms-0" type="button"  >
                      <i class="mdi mdi-eye-off-outline" aria-hidden="true" *ngIf="!show3"></i>
                      <i class="mdi mdi-eye-outline" aria-hidden="true" *ngIf="show3"></i>
                    </button>

                    <div *ngIf="submitted && f.confirm_new_password.errors" class="invalid-feedback">
                      <div *ngIf="f.confirm_new_password.errors.required">Confirm New Password is required</div>
                      <div *ngIf="f.confirm_new_password.errors.minlength">Confirm New Password must be at least 8 characters long</div>
                      <div *ngIf="f.confirm_new_password.errors.pattern">Confirm New Password must contain at least one number, one uppercase and a
                        lowercase letter. <br>Confirm New  cannot contain whitespace.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mt-4 d-grid">
                  <!--                  <button class="btn btn-primary" type="submit" [disabled]="changepasswordForm.invalid || !strongPassword || working">Register</button>-->
                  <a class="btn btn-primary" type="submit" >Update</a>
                </div>
              </div>
              </div>
            </form>
      </div>
    </div>
  </div>
  <!-- end card -->
</section>
