<div class="container-fluid">
    <app-page-title title="New Tables" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="" class="form-label">Table Size</label>
                                <input type="number" name="" id="" class="form-control" [(ngModel)]="table.table_size">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="" class="form-label">Status</label>
                                <select name="" class="form-select" id="" [(ngModel)]="table.table_status">
                                    <option *ngFor="let status of tablesService.tableStatus" [value]="status.status">
                                        {{ status.status }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex w-100 gap-3">
                                <button class="btn btn-primary btn-sm" (click)="submitTables()">Submit</button>
                                <a class="btn btn-debug btn-sm" href="/admin/tables/listing">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>