<div class="container-fluid">
    <app-page-title title="New Orders" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="" class="form-label">Customer Name <span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Please enter customer name..."
                                        required (keyup)="searchUserName($event.target.value)">
                                    <div class="position-absolute top-100 start-0 translate-middle-y mt-3 border w-100"
                                        style="z-index: 999;">
                                        <ul class="list-unstyled m-0" *ngIf="userList.length > 0">
                                            <li *ngFor="let user of userList" class="mb-1">
                                                <button class="btn btn-link bg-white rounded shadow w-100"
                                                    (click)="selectUser(user)">
                                                    {{user.userName}}
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <input type="hidden" [(ngModel)]="order.userID">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="" class="form-label">Status <span class="text-danger">*</span></label>
                                <select name="" class="form-select" id="" [(ngModel)]="order.order_status" required>
                                    <option value="Pending" selected>Pending</option>
                                    <option value="Confirmed">Confirmed</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="" class="form-label">Order Type <span class="text-danger">*</span></label>
                                <select name="" class="form-select" id="" [(ngModel)]="order.order_type" required>
                                    <option value="">Please select order type...</option>
                                    <option *ngFor="let type of orderService.orderTypeList" [value]="type.value">
                                        {{type.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="order.order_type=='dine'">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="" class="form-label">Number of People <span
                                                class="text-danger">*</span></label>
                                        <input type="number" name="" id="" class="form-control"
                                            [(ngModel)]="reservation.pax_no"
                                            placeholder="Please enter number of people..." required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="" class="form-label">Reservation Date <span
                                                class="text-danger">*</span></label>
                                        <input type="datetime-local" name="" id="" class="form-control"
                                            [(ngModel)]="reservation.reservation_dt" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="" class="form-label">Remarks</label>
                                        <textarea name="" id="" class="form-control"
                                            [(ngModel)]="reservation.reserve_remark"
                                            placeholder="Please enter remarks (if any)"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="order.order_type=='delivery'">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="">Delivery Man <span class="text-danger">*</span></label>
                                        <select class="form-select" [(ngModel)]="delivery.deliverymanID">
                                            <option *ngFor="let man of deliveryManList" [value]="man.deliverymanID">
                                                Phone - {{ man.deliveryman_phone_no }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Delivery Start Date Time <span
                                                class="text-danger">*</span></label>
                                        <input type="datetime-local" class="form-control"
                                            [(ngModel)]="delivery.delivery_start_dt">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="">Delivery Status <span class="text-danger">*</span></label>
                                        <select class=" form-select" [(ngModel)]="delivery.delivery_status">
                                            <option *ngFor="let status of deliveryService.deliveryStatusList"
                                                [value]="status.name">
                                                {{status.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Delivery Completed Date Time <span
                                                class="text-danger">*</span></label>
                                        <input type="datetime-local" class="form-control"
                                            [(ngModel)]="delivery.delivery_completed_dt">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="">Delivery Remarks <span class="text-danger">*</span></label>
                                        <textarea class="form-control"
                                            [(ngModel)]="delivery.delivery_remark"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex w-100 gap-3">
                                <button class="btn btn-primary btn-sm" (click)="submitOrder()">Submit</button>
                                <a class="btn btn-debug btn-sm" href="/admin/orders/listing">Cancel</a>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-12 gap-3 d-flex align-items-center justify-content-between">
                            <p>Total Amount: <span class="font-weight-semibold">$ {{totalAmount}}</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" *ngIf="order.order_type=='dine'">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="" class="form-label">Table</label>
                                <select name="" class="form-select" id="" [(ngModel)]="reservation.tableID">
                                    <option value="" selected>Please select table...</option>
                                    <option *ngFor="let table of tableList" [value]="table.tableID">Table
                                        {{table.tableID}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="label">Order Items</h4>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap">
                                    <thead class="table-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Menu</th>
                                            <th>Quality</th>
                                            <th>Price</th>
                                            <th>Remarks</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr *ngIf="orderItems.length == 0"></tr> -->
                                        <tr *ngFor="let items of orderItemsList; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{items.item_name}}</td>
                                            <td>
                                                <input type="number" [(ngModel)]="items.order_quantity"
                                                    class="form-control" min="0" (change)="setTotalAmount(i)">
                                            </td>
                                            <td>
                                                <input type="text" [(ngModel)]="items.item_price" class="form-control"
                                                    min="0" (change)="setTotalAmount(i)">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control"
                                                    [(ngModel)]="items.order_remark">
                                                <span class="text-danger">*</span>
                                            </td>
                                            <td>$ {{items.total}}</td>
                                            <td>
                                                <button class="btn btn-sm" (click)="removeOrderItem(i, items)">
                                                    <i class="text-danger mdi mdi-delete font-size-18"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between gap-3">
                                    <input type="text" class="form-control" placeholder="Search for items..."
                                        list="menu" [(ngModel)]="searchItem" (change)="checkValue()">
                                    <datalist id="menu">
                                        <option *ngFor="let menu of menuList" [value]="menu.item_name"
                                            [attr.data-menu]="menu"></option>
                                    </datalist>
                                    <button class="btn btn-primary btn-sm" (click)="addOrderItem()"
                                        [disabled]="searchDisabled">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>