<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-dark p-4">
                  <h5 class="text-dark">Free Register</h5>
                  <p>Get your free TableHop account now.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo-light.svg" alt="" class="rounded-circle" height="72">
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2">

              <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
                novalidate>

                <ngb-alert type="success" *ngIf="successmsg" [dismissible]="false">Registeration successfull.
                </ngb-alert>

                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                <div class="mb-3">
<!--                  <label for="username" class="form-label">Username</label>-->

                  <input type="text" formControlName="username" class="form-control" [(ngModel)]="username"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" id="username"
                    placeholder="Username" />

                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
                </div>

                <div class="mb-3">
<!--                  <label for="email" class="form-label">Email</label>-->

                  <input type="email" formControlName="email" class="form-control" [(ngModel)]="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email Address" />

                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>

                <div class="mb-3">
                  <!--                  <label for="number" class="form-label">Phone Number</label>-->
                  <input type="text" formControlName="phone_no" class="form-control" [(ngModel)]="phone_no"
                         [ngClass]="{ 'is-invalid': submitted && f.phone_no.errors }" id="phone_no" placeholder="Phone Number" />

                  <div *ngIf="submitted && f.phone_no.errors" class="invalid-feedback">
                    <div *ngIf="f.phone_no.errors.required">Phone Number is required</div>
                    <div *ngIf="f.phone_no.errors.pattern||f.phone_no.errors.minlength||f.phone_no.errors.maxlength">Phone number should be 8 numbers</div>
                  </div>
                </div>

                <div class="mb-3">
<!--                  <label for="password" class="form-label">Password</label>-->
                  <div class="input-group auth-pass-inputgroup">
                  <input [type]="show1 ? 'text' : 'password'"  formControlName="password" class="form-control" [(ngModel)]="submittedPassword"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" placeholder="Password" />

                      <button (click)="onClick(1)" id="eyebtn1" class="btn btn-light ms-0" type="button"  >
                        <i class="mdi mdi-eye-off-outline" aria-hidden="true" *ngIf="!show1"></i>
                        <i class="mdi mdi-eye-outline" aria-hidden="true" *ngIf="show1"></i>
                      </button>

                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters long</div>
                    <div *ngIf="f.password.errors.pattern">Password must contain at least one number, one uppercase and a
                      lowercase letter. (Password cannot contain whitespace)
                    </div>
                  </div>
                  </div>
<!--&lt;!&ndash;                  <app-password-strength [passwordToCheck]="signupForm.f.password" (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength>&ndash;&gt;-->
                </div>

                <div class="mb-3">
<!--                  <label for="confirm_password" class="form-label">Confirm Password</label>https://stackblitz.com/edit/angular-ivy-password-strength-meter?file=src%2Fapp%2Fapp.component.ts,src%2Fapp%2Fapp.component.html-->
                  <div class="input-group auth-pass-inputgroup">
                  <input [type]="show2 ? 'text' : 'password'" formControlName="confirm_password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" id="confirm_password" placeholder="Confirm Password" />

                      <button (click)="onClick(2)" id="eyebtn2" class="btn btn-light ms-0" type="button"  >
                        <i class="mdi mdi-eye-off-outline" aria-hidden="true" *ngIf="!show2"></i>
                        <i class="mdi mdi-eye-outline" aria-hidden="true" *ngIf="show2"></i>
                      </button>

                  <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                    <div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirm_password.errors.minlength">Confirm Password must be at least 8 characters long</div>
                    <div *ngIf="f.confirm_password.errors.pattern">Password must contain at least one number, one uppercase and a
                      lowercase letter. (Password cannot contain whitespace)
                    </div>
                  </div>
                </div>
                </div>

                <div class="mb-3">
<!--                  <label for="dob" class="form-label">Date of Birth</label>-->

                  <input type="text" formControlName="dob" class="form-control" onfocus="(this.type='date')" [(ngModel)]="dob"
                    [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" id="dob" name ="dobdate"
                    placeholder="Date of Birth" [min]="minDate" [max]="maxDate" />

                  <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                    <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                  </div>
                </div>

                <div class="mt-4 d-grid">
<!--                  <button class="btn btn-primary" type="submit" [disabled]="signupForm.invalid || !strongPassword || working">Register</button>-->
                  <button class="btn btn-primary" type="submit" >Register</button>
                </div>
                <div class="mt-4 text-center">
                  <h5 class="font-size-14 mb-3">Sign in with</h5>

                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="" class="social-list-item bg-secondary text-white border-secondary">
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="" class="social-list-item bg-info text-white border-info">
                        <i class="mdi mdi-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="" class="social-list-item bg-danger text-white border-danger">
                        <i class="mdi mdi-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="mt-4 text-center">
                  <p class="mb-0">By registering you agree to the TableHop <a href=""
                      class="text-secondary">Terms of
                      Use</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end card -->

        <div class="mt-5 text-center">
          <p>Already have an account ? <a routerLink="/account/login" class="fw-medium text-secondary"> Login</a>
          </p>
          <p>© {{year}} TableHop. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
        </div>
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
