<div class="container">
	<section class="align-items-center" style="background-image: url('assets/images/hero-bg.jpg');">
		<div class="container position-relative text-center text-lg-start py-4" style="background: rgba(0, 0, 0, 0.5);">
				<!-- <img src="assets/images/hero-bg.jpg" alt=""> -->
				<div class="row">
					<div class="col-12 col-md-8 mx-1">
						<h1 class="text-light">Welcome to <span class="text-primary">TableHop</span>!</h1>
						<p class="text-light">Delivering great service right from your hands!</p>
					</div>
					<div class="container position-relative text-center text-lg-start">
						<button class="btn btn-primary mx-1" type="submit">
							<a href="/user/menu" class="text-light">Our Menu</a>
						</button>
						<button class="btn btn-primary mx-1" type="submit">
							<a href="/user/tables" class="text-light">Reserve a Table</a>
						</button>
					</div>
				</div>
		</div>
	</section>
</div>
