<div class="container-fluid">
    <app-page-title title="Tables" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-3" style="height: 75vh;" id="containment">
                        <div *ngFor="let t of tablesList" [id]="'table_'+t.tableID"
                            class="tables p-4 w-25 h-25 rounded-3 text-center shadow bg-primary mb-1"
                            style="cursor: pointer;" [style]="'left:'+ t.table_x + 'px;top:'+ t.table_y+'px'">
                            Table {{t.tableID}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4>Table List</h4>
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let list of tablesList">
                                    <td>Table {{ list.tableID }}</td>
                                    <td>{{ list.table_status }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>