<div class="container-fluid">
    <app-page-title title="Menus"></app-page-title>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-end">
                                <a href="/admin/menus/add" type="button"
                                    class="btn btn-success btn-rounded mb-2 me-2"><i class="mdi mdi-plus mr-1"></i>
                                    Add New Menu</a>
                            </div>
                        </div><!-- end col-->
                    </div>
                    <div class="table-responsive mb-0">
                        <table class="table table-centered table-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th class="align-middle">S/N</th>
                                    <th class="align-middle">Item Name</th>
                                    <th class="align-middle">Item Description</th>
                                    <th class="align-middle">Item Price</th>
                                    <th class="align-middle">Item Remark</th>
                                    <th class="align-middle">Item Status</th>
                                    <th class="align-middle">View Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of menu ; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{data.item_name}}</td>
                                    <td>{{data.item_description}}</td>
                                    <td>{{data.item_price}}</td>
                                    <td>{{data.item_remark}}</td>
                                    <td>
                                        <span class="badge badge-pill badge-soft-success font-size-11" [ngClass]=" { 'badge-soft-danger': data.item_status === 'Sold Out',
                                             'badge-soft-warning':data.item_status === 'Available' }">{{data.item_status}}</span>
                                    </td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-sm btn-rounded"
                                            (click)="openModal(content, data)">View
                                            Details</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- pop up modal -->
                        <ng-template #content role="document" let-modal>
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-0">Menu Details</h5>
                                <button type="button" class="btn-close" aria-hidden="true"
                                    (click)="modal.dismiss('Cross click')"></button>
                            </div>
                            <div class="modal-body">
                              <div *ngIf="edit == false">
                                <p class="mb-2">
                                    Product Name:
                                    <span class="text-primary">{{viewMenu.item_name}}</span>
                                </p>
                                <p class="mb-4">
                                    Created Date:
                                    <span class="text-primary">{{viewMenu.item_created_dt | date:'yyyy/MM/dd'}}</span>
                                </p>
                              </div>

                              <form name="editMenuForm"  (ngSubmit)="onSubmit()" [formGroup]="editMenuForm"  class="needs-validation" novalidate>
                                <div class="form-sub-section">
                                  <div class="image-section">
                                    <label for="product-image" class="mt-2"> Product Images</label>
                                    <img [src]="imagePath" alt="image" class="custom-dropzone" *ngIf="!selectedImage">
                                    <img [src]="selectedImage" alt="Selected Image" class="custom-dropzone" *ngIf="selectedImage">

                                    <input type="file" (change)="onFileUploadSuccess($event)" [hidden]="canUploadImage == false" class="upload-image">
                                    <input type="button" value="Change Image" (click)="enableChangeImage()" class="change-image" [hidden]="(edit == false && canUploadImage == false) || (edit == true && canUploadImage == true)">
<!--                                    <dropzone [config]="config" (onSuccess)="onFileUploadSuccess($event)" class="custom-dropzone">-->
<!--                                      <div class="dz-message">-->
<!--                                        <p>Drop files here or click to upload.</p>-->
<!--                                      </div>-->
<!--                                    </dropzone>-->
                                  </div>


                                  <div class="info-section">
                                    <label>Item Name<span>*</span></label><br>
                                    <textarea  id="item_name" formControlName="item_name" [ngClass]="{ 'is-invalid': submitted && f.item_name.errors }" required [readOnly]="edit == false"></textarea>
                                    <div *ngIf="submitted && f.item_name.errors" class="invalid-feedback">
                                      <div *ngIf="f.item_name.errors.required">Item name is required</div>
                                    </div>

                                    <label>Item Description<span>*</span></label>
                                    <textarea id="item_description" formControlName="item_description" [ngClass]="{ 'is-invalid': submitted && f.item_description.errors }" required [readOnly]="edit == false"></textarea>
                                    <div *ngIf="submitted && f.item_description.errors" class="invalid-feedback">
                                      <div *ngIf="f.item_description.errors.required">Item description is required</div>
                                    </div>

                                    <label>Item Remark<span>*</span></label>
                                    <textarea  id="item_remark" formControlName="item_remark" [ngClass]="{ 'is-invalid': submitted && f.item_remark.errors }" required [readOnly]="edit == false"></textarea>
                                    <div *ngIf="submitted && f.item_remark.errors" class="invalid-feedback">
                                      <div *ngIf="f.item_remark.errors.required">Item remark is required</div>
                                    </div>

                                    <label>Price<span>*</span></label>
                                    <input class="price-input" currencyMask  formControlName="item_price" id="item_price" type="number" min="0.00"  placeholder="0.00" pattern="^\d*(\.\d{0,2})?$"
                                           [ngClass]="{ 'is-invalid': submitted && f.item_price.errors }" required [readOnly]="edit == false">
                                    <div *ngIf="submitted && f.item_price.errors" class="invalid-feedback">
                                      <div *ngIf="f.item_price.errors.required">Item price is required</div>
                                    </div>

                                    <div class="form-sub-section">
                                      <div>
                                        <label>Category<span>*</span></label>
                                        <input class="select-input" formControlName="item_category" readonly [hidden]="edit == true" >
                                        <select id="item_category" formControlName="item_category"
                                                [ngClass]="{ 'is-invalid': submitted && f.item_price.errors }" required [hidden]="edit == false">
                                          <option value="Starter">Starter</option>
                                          <option value="Main Course">Main Course</option>
                                          <option value="Dessert">Dessert</option>
                                          <option value="Beverages">Beverages</option>
                                          <option value="Other">Other</option>
                                        </select>
                                        <div *ngIf="submitted && f.item_category.errors" class="invalid-feedback">
                                          <div *ngIf="f.item_category.errors.required">Item category is required</div>
                                        </div>
                                      </div>
                                      <div>
                                        <label>Status<span>*</span></label>
                                        <input class="select-input" formControlName="item_status" readonly [hidden]="edit == true" >
                                          <select id ="item_status" formControlName="item_status" [hidden]="edit == false"
                                                  [ngClass]="{ 'is-invalid': submitted && f.item_status.errors }" required>
                                            <option value="Available">Available</option>
                                            <option value="Sold Out">Sold Out</option>
                                          </select>
                                        <div *ngIf="submitted && f.item_status.errors" class="invalid-feedback">
                                          <div *ngIf="f.item_status.errors.required">Item status is required</div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <input type="submit" value="Save" [hidden]="edit == false">
                              </form>
                            </div>
                            <div class="modal-footer" [hidden]="edit == true">
                                <button class="btn btn-secondary" (click)="enableEdit()">Edit</button>
                                <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
                            </div>
                          </div>
                        </ng-template>
                    </div>
                    <!-- end table -->
                </div>
            </div>
        </div>
    </div>
</div>
