/*--------------------------------------------------------------
# Book A Table
--------------------------------------------------------------*/
.book-a-table .php-email-form {
    width: 100%;
  }

  .book-a-table .php-email-form .form-group {
    padding-bottom: 8px;
  }

  .book-a-table .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }

  .book-a-table .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }

  .book-a-table .php-email-form .error-message br+br {
    margin-top: 25px;
  }

  .book-a-table .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }

  .book-a-table .php-email-form .loading {
    display: none;
    text-align: center;
    padding: 15px;
  }

  .book-a-table .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #cda45e;
    border-top-color: #1a1814;
    animation: animate-loading 1s linear infinite;
  }

  .book-a-table .php-email-form input,
  .book-a-table .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: #343a40;
    border-color: #eff2f7;
    color: white;
  }

  .book-a-table .php-email-form input::-moz-placeholder,
  .book-a-table .php-email-form textarea::-moz-placeholder {
    color: rgba(239, 242, 247, 0.5);
  }

  .book-a-table .php-email-form input::placeholder,
  .book-a-table .php-email-form textarea::placeholder {
    color: rgba(239, 242, 247, 0.5);
  }

  .book-a-table .php-email-form input:focus,
  .book-a-table .php-email-form textarea:focus {
    border-color: #ff914d;
  }

  .book-a-table .php-email-form input {
    height: 44px;
    width: 100%;
  }

  .book-a-table .php-email-form textarea {
    padding: 10px 12px;
  }

  .book-a-table .php-email-form button[type=submit] {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    background: #343a40;
    color: white;
    border: 2px solid #ff914d;
  }

  .book-a-table .php-email-form button[type=submit]:hover {
    background: #ff914d;
    color: #fff;
  }

  /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }

  .section-bg {
    background-color: #343a40;
  }

  .section-title {
    padding-bottom: 40px;
  }

  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    /* font-family: "Poppins", sans-serif; */
  }

  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
  }

  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    color: #ff914d;
  }
