<!-- ======= Book A Table Section ======= -->
<section id="book-a-table" class="book-a-table section-bg px-5">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Reservation</h2>
      <p>Book a Table</p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img src="assets/images/table.jpg" alt="">
      </div>
      <div class="d-flex align-items-top justify-content-center col-lg-8">
        <form name="addReservationForm"  (ngSubmit)="onSubmit()" [formGroup]="addReservationForm"  class="needs-validation" novalidate action="forms/book-a-table.php" method="post" role="form" class="php-email-form w-75" data-aos="fade-up" data-aos-delay="100">
          <div class="row">
            <div class="form-group d-grid">

              <input type="number" id="pax_no" placeholder="pax_no"  formControlName="pax_no"
                     [ngClass]="{ 'is-invalid': submitted && f.pax_no.errors }"  required>
              <div class="validate"></div>
            </div>

            <div class="form-group mt-3 d-grid">
              <input type="datetime-local" id="reservation_dt" placeholder="Date" formControlName="reservation_dt" [min]="minDate"
                     [ngClass]="{ 'is-invalid': submitted && f.reservation_dt.errors }" [(ngModel)]="selectedDate" (change)="checkDateValidity()"  required>
              <div class="error" *ngIf="isPastDate">Please select a today or future date.</div>
              <div class="validate"></div>
            </div>

            <div class="form-group mt-3 d-grid">
              <input type="text" id="reserve_remark" placeholder="Remark" formControlName="reserve_remark"
                     [ngClass]="{ 'is-invalid': submitted && f.reserve_remark.errors }"  required>
              <div class="validate"></div>
            </div>
          </div>

          <!-- <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div> -->
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
          </div>
          <div class="text-center d-grid" >
          <input class="btn btn-primary float-start" id="button" type="submit" value="Book a Table" >
          </div>
<!--          <div class="text-center d-grid">-->
<!--            <a class="btn btn-primary float-start" type="submit">Book a Table</a>-->
<!--          </div>-->
        </form>
      </div>
    </div>


  </div>
</section><!-- End Book A Table Section -->
