<div class="container-fluid">
  <app-page-title title="Add New Item" ></app-page-title>
  <form name="addMenuForm"  (ngSubmit)="onSubmit()" [formGroup]="addMenuForm"  class="needs-validation" novalidate>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="mb-12">
                <label for="product-image"> Product Images</label>
                <dropzone [config]="config" (onSuccess)="onFileUploadSuccess($event)" class="custom-dropzone">
                  <div class="dz-message">
                    <p>Drop files here or click to upload.</p>
                  </div>
                </dropzone>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <div class="col-12">
              <div class="mb-3">
                <label for="" class="form-label">Item Name</label>
                <textarea class="form-control" id="item_name" formControlName="item_name" [ngClass]="{ 'is-invalid': submitted && f.item_name.errors }"  required></textarea>
                <div *ngIf="submitted && f.item_name.errors" class="invalid-feedback">
                  <div *ngIf="f.item_name.errors.required">Item name is required</div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="mb-3">
                <label for="" class="form-label">Item Description</label>
                <textarea id="item_description" formControlName="item_description" [ngClass]="{ 'is-invalid': submitted && f.item_description.errors }" required></textarea>
                <div *ngIf="submitted && f.item_description.errors" class="invalid-feedback">
                  <div *ngIf="f.item_description.errors.required">Item description is required</div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="mb-3">
                <label for="" class="form-label">Item Remark</label>
                <textarea  id="item_remark" formControlName="item_remark" [ngClass]="{ 'is-invalid': submitted && f.item_remark.errors }" required></textarea>
                <div *ngIf="submitted && f.item_remark.errors" class="invalid-feedback">
                  <div *ngIf="f.item_remark.errors.required">Item remark is required</div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="mb-3">
                <label for="" class="form-label">Price</label>
                <input class="price-input" currencyMask  formControlName="item_price" id="item_price" type="number" min="0.00"  placeholder="0.00" pattern="^\d*(\.\d{0,2})?$" [ngClass]="{ 'is-invalid': submitted && f.item_price.errors }" required>
                <div *ngIf="submitted && f.item_price.errors" class="invalid-feedback">
                  <div *ngIf="f.item_price.errors.required">Item price is required</div>
                </div>
              </div>
            </div>

          <div class="col-12">
            <div class="mb-3">
              <label for="" class="form-label">Category</label><br>
              <select id="item_category" formControlName = "item_category" [ngClass]="{ 'is-invalid': submitted && f.item_price.errors }" required>
                <option value="Starter">Starter</option>
                <option value="Main Course">Main Course</option>
                <option value="Dessert">Dessert</option>
                <option value="Beverages">Beverages</option>
                <option value="Other">Other</option>
              </select>
              <div *ngIf="submitted && f.item_category.errors" class="invalid-feedback">
                <div *ngIf="f.item_category.errors.required">Item category is required</div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="mb-3">
              <label for="" class="form-label">Status</label><br>
              <select id ="item_status" formControlName = "item_status" [ngClass]="{ 'is-invalid': submitted && f.item_status.errors }" required>
                <option value="Available">Available</option>
                <option value="Sold Out">Sold Out</option>
              </select>
              <div *ngIf="submitted && f.item_status.errors" class="invalid-feedback">
                <div *ngIf="f.item_status.errors.required">Item status is required</div>
              </div>
            </div>
          </div>

            <div class="row">
              <div class="col-12">
                <div class="d-flex w-100 gap-3">
                  <button class="btn btn-primary btn-sm">Add item</button>
                  <a class="btn btn-debug btn-sm" href="/admin/menus/listing">Cancel</a>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
  </div>
</form>
</div>
