<div class="form-section">
    <h1>Add New Item</h1>
    <form name="addMenuForm" [formGroup]="addMenuForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-sub-section">
            <div class="image-section">    
                <label for="image">Select an image:</label>
                <div [innerHTML]="message" *ngIf="message" style="color: red;"></div>
                <div><img class="img-preview" [src]="url" *ngIf="url"></div>

                <br>
                <p>
                <input type="file" name="image" id="image" accept="image/*" (change)="onFileChanged($event)">
                </p>
                
                <!-- <input type="submit" name = "upload" value="Upload" (click)="onUpload()">   -->
                <!-- <div *ngIf=message>{{message}}</div> -->
                
                <!--Display the image once uploaded-->
                
            </div>
            <div class="info-section">
                <label>Item Name<span>*</span></label><br>
                <textarea formControlName="item_name" required></textarea>

                <label>Item Description<span>*</span></label>
                <textarea formControlName="item_description" required></textarea>

                <label>Item Remark<span>*</span></label>
                <textarea formControlName="item_remark" required></textarea>

                <label>Price<span>*</span></label>
                <input class="price-input" currencyMask formControlName="item_price" type="number" min="0.00"  placeholder="0.00" pattern="^\d*(\.\d{0,2})?$" oninput="formatDecimal(this)" required>

                <div class="form-sub-section">
                    <div>
                        <label>Category<span>*</span></label>
                            <select formControlName="item_category" required>
                            <option value="Starter">Starter</option>
                            <option value="Main Course">Main Course</option>
                            <option value="Dessert">Dessert</option>
                            <option value="Beverages">Beverages</option>
                            <option value="Other">Other</option>
                            </select>      
                    </div>
                    <div>
                        <label>Status<span>*</span></label>
                            <select formControlName="item_status" required>
                            <option value="Available">Available</option>
                            <option value="Sold Out">Sold Out</option>
                            </select>      
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" value="Add item">

    </form>
</div>

