<div class="container-fluid">
    <app-page-title title="Delivery" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <label for="">Delivery Man Phone: </label>
                    <div class="row mb-2">
                        <div class="col-6">
                            <div class="mb-3 d-flex gap-3">
                                <input type="tel" class="form-control" [(ngModel)]="deliveryMan.deliveryman_phone_no">
                                <button class="btn btn-success btn-rounded" (click)="submit()">
                                    <i class="mdi mdi-plus mr-1"></i>
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mb-0">
                        <table class="table table-centered table-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th class="align-middle">#</th>
                                    <th class="align-middle">Delivery Man Phone</th>
                                    <th class="align-middle">Created Date Time</th>
                                    <th class="align-middle">Updated Date Time</th>
                                    <th class="align-middle">Order ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of deliveryManList; let i = index">
                                    <td>
                                        <a href="javascript: void(0);" class="text-body fw-bold">{{i+1}}</a>
                                    </td>
                                    <td>{{data.deliveryman_phone_no}}</td>
                                    <td>{{data.deliveryman_created_dt | date:'dd/MM/yyyy hh:mm a'}}</td>
                                    <td>{{data.deliveryman_updated_dt | date:'dd/MM/yyyy hh:mm a'}}</td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-sm btn-rounded"
                                            (click)="openModal(content)">View
                                            Details</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- pop up modal -->
                        <ng-template #content role="document" let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title mt-0">Order Details</h5>
                                <button type="button" class="btn-close" aria-hidden="true"
                                    (click)="modal.dismiss('Cross click')"></button>
                            </div>
                            <div class="modal-body">
                                <p class="mb-2">
                                    Product id:
                                    <span class="text-primary">#SK2540</span>
                                </p>
                                <p class="mb-4">
                                    Billing Name:
                                    <span class="text-primary">Neal Matthews</span>
                                </p>
                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap">
                                        <thead>
                                            <tr>
                                                <th scope="col">Product</th>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">
                                                    <div>
                                                        <img src="assets/images/product/img-7.png" alt
                                                            class="avatar-sm" />
                                                    </div>
                                                </th>
                                                <td>
                                                    <div>
                                                        <h5 class="text-truncate font-size-14">Wireless Headphone
                                                            (Black)</h5>
                                                        <p class="text-muted mb-0">$ 225 x 1</p>
                                                    </div>
                                                </td>
                                                <td>$ 255</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <div>
                                                        <img src="assets/images/product/img-4.png" alt
                                                            class="avatar-sm" />
                                                    </div>
                                                </th>
                                                <td>
                                                    <div>
                                                        <h5 class="text-truncate font-size-14">Phone patterned cases
                                                        </h5>
                                                        <p class="text-muted mb-0">$ 145 x 1</p>
                                                    </div>
                                                </td>
                                                <td>$ 145</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <h6 class="m-0 text-end">Sub Total:</h6>
                                                </td>
                                                <td>$ 400</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <h6 class="m-0 text-end">Shipping:</h6>
                                                </td>
                                                <td>Free</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <h6 class="m-0 text-end">Total:</h6>
                                                </td>
                                                <td>$ 400</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
                            </div>
                        </ng-template>
                    </div>
                    <!-- end table -->
                </div>
            </div>
        </div>
    </div>
</div>